{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="<{:U('Min/index?g=admin_js')}>"></script>
    <link href="<{:U('Min/index?g=admin_css')}>" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
        $(function () {
            /* $.messager.confirm("请您确认...","您确认要删除这条信息么?",function(r){
             if(r){
             $.messager.alert("删除成功","删除成功！","error");
             }
             });*/

            /*      $("#mainTabs").tabs({

             });*/

            $("#nav .easyui-tree").tree({
                onClick: function (node) {
                    if ($("#mainTabs").tabs("exists", node.text)) {
                        $("#mainTabs").tabs("select", node.text);
                    } else {
                        $("#mainTabs").tabs("add", {
                            title: node.text,
                            closable: true,
                            href: node.url
                        })
                    }
                    console.info(node);
                }
            });
        })
    </script>
</head>
<body class="easyui-layout">
<div region="north" border="true" split="true" style="height: 80px;">

</div>
<div region="south" border="true" split="true" style="height: 40px;">

</div>
<div region="west" id="nav" split="true" title="导航菜单" style="width: 170px;">
    <div class="easyui-accordion">
        <div title="账号管理">
            <ul class="easyui-tree" data-options="url:'/Admin/View/Index/nav.json'">
                <li>
                    <span>账号列表</span>
                </li>
                <li>
                    <span>添加账号</span>
                </li>
            </ul>
        </div>
        <div title="服务器管理">
            <ul class="easyui-tree">
                <li>
                    <span>服务器列表</span>
                </li>
                <li>
                    <span>添加服务器</span>
                </li>
            </ul>
        </div>
        <div title="CP管理">
            <ul class="easyui-tree">
                <li>
                    <span url="http://www.baidu.com/">CP列表</span>
                </li>
                <li>
                    <span>添加CP</span>
                </li>
            </ul>
        </div>
        <div title="游戏类型&标签管理">
            <ul class="easyui-tree">
                <li>
                    <span>类型列表</span>
                </li>
                <li>
                    <span>标签列表</span>
                </li>
                <li>
                    <span>添加类型</span>
                </li>
                <li>
                    <span>添加标签</span>
                </li>
            </ul>
        </div>

    </div>
</div>
<div region="center" id="mainPanle">
    <div id="mainTabs" class="easyui-tabs" fit="true" border="false">
        <div title="起始页" style="padding:10px">
            欢迎来到后台管理
        </div>
    </div>
</div>
</body>
</html>