<link rel="stylesheet" href="<{$Think.const.STATIC_STYLE_URL}>bottom.css"/>
<!--页脚 开始-->
<div id="footer">
    <div class="footer-sitemap-out">
        <div class="footer-sitemap-inner">
            <!--底部网站地图 开始-->
            <div class="fsi-col-list">
                <div class="bottom_ico bottom_ico1"><h3><a href="http://www.1688wan.com/webnews/1_1.html" target="_blank">资讯中心</a></h3></div>
                <ul>
                    <li> <a id="xtype1" href="http://www.1688wan.com/webnews/1_1.html" target="_blank">手游资讯</a></li>
                    <li><a id="xtype2" href="http://www.1688wan.com/webnews/2_1.html" target="_blank">手游评测</a></li>
                    <li><a id="xtype3" href="http://www.1688wan.com/webnews/3_1.html" target="_blank">手游攻略</a></li>
                    <li><a id="xtype7" href="http://www.1688wan.com/webnews/11_1.html" target="_blank">手游视频</a></li>
                    <li><a id="xtype20" href="http://www.1688wan.com/webnews/20_1.html" target="_blank">专访报道</a></li>
                    <li><a id="xtype10" href="http://www.1688wan.com/webnews/12_1.html" target="_blank">活动推荐</a></li>
                    <li><a id="xtype11" href="http://www.1688wan.com/webnews/15_1.html" target="_blank">产业新闻</a></li>
                    <li><a id="xtype15" href="http://www.1688wan.com/webnews/10_1.html" target="_blank">八卦周边</a></li>
                </ul>
            </div>
            <div class="fsi-col-list">
                <div class="bottom_ico bottom_ico2"><h3><a href="http://www.1688wan.com/game/" target="_blank">游戏中心</a></h3></div>
                <ul>
                    <li> <a id="xtype1" href="http://www.1688wan.com/game/" target="_blank"> 游戏中心</a></li>
                    <li><a id="xtype2" href="http://www.1688wan.com/xinyou/" target="_blank">新游频道</a></li>
                    <li><a id="xtype3" href="http://www.1688wan.com/kaifu/" target="_blank">开服表</a></li>
                    <li><a id="xtype7" href="http://www.1688wan.com/kaice/" target="_blank">开测表</a></li>
                    <li><a id="xtype2" href="http://www.1688wan.com/libao/" target="_blank">礼包中心</a></li>
                    <li><a id="xtype3" href="http://www.1688wan.com/hd" target="_blank">活动中心</a></li>
                </ul>
            </div>
            <div class="fsi-col-list" style="padding-left:42px;">
                <div class="bottom_ico bottom_ico3"><h3><a href="http://www.1688wan.com/xinyou/" target="_blank">手游专区</a></h3></div>
                <ul>
                    <li> <a id="xtype1" href="http://www.1688wan.com/ztkdb/" target="_blank">征途手游</a></li>
                    <li><a id="xtype20" href="http://www.1688wan.com/zjsn/" target="_blank">战舰少女</a></li>
                    <li><a id="xtype3" href="http://www.1688wan.com/qmzg/" target="_blank">全民主公</a></li>
                    <li><a id="xtype12" href="http://tlbb3d.1688wan.com/" target="_blank">天龙八部3D</a></li>
                    <li><a id="xtype2" href="http://www.1688wan.com/xfz/" target="_blank">熹妃传</a></li>
                    <li><a id="xtype7" href="http://www.1688wan.com/dzz/" target="_blank">大主宰</a></li>
                    <li><a id="xtype10" href="http://www.1688wan.com/mhxy/" target="_blank">梦幻西游</a></li>
                    <li><a id="xtype11" href="http://www.1688wan.com/qmtj/" target="_blank">全民突击</a></li>
                </ul>
            </div>
            <div class="fsi-col-list" style="margin-right:-250px; ">
                <div class="bottom_ico bottom_ico4"><h3><a href="http://www.1688wan.com/mall/" target="_blank">特色服务</a></h3></div>
                <ul>
                    <li> <a id="xtype1" href="http://www.1688wan.com/mall/" target="_blank">G商城</a></li>
                    <li><a id="xtype10" href="http://www.1688wan.com/changshang/" target="_blank">品牌厂商</a></li>
                    <li><a id="xtype10" href="http://www.1688wan.com/bagua/all/index.html" target="_blank">有图有料</a></li>
                    <li><a id="xtype7" href="http://www.1688wan.com/xyzk/" target="_blank">新游周刊</a></li>
                    <li><a id="xtype20" href="http://www.1688wan.com/bdxqs/" target="_blank">暴打星期三</a></li>


                </ul>
            </div>

            <!--底部网站地图 结束-->
        </div>
    </div>
    <div class="footer-cr-fl-out">
        <div class="footer-cr-fl-inner">
            <div class="index-aboutus"><a href="about/index.html" target="_blank" rel="nofollow">关于我们</a>|<a href="about/contact.html" target="_blank" rel="nofollow">联系我们</a>|<a href="about/declare.html" target="_blank" rel="nofollow">免责声明</a>|<a href="about/sitemap.html" target="_blank" rel="nofollow">网站地图</a>|<a href="about/tags.html" target="_blank">关键词索引</a>|<a target="_blank" class="qqlink" href="http://wpa.qq.com/msgrd?v=3&uin=861990633&site=qq&menu=yes" title="点我联系客服">玩家客服QQ：861990633</a></div>
            <div class="copyright"> &copy;<span></span>2009-2016<span></span>1688wan.com<span></span>版权所有<span></span><a href="http://www.miitbeian.gov.cn/" target="_blank">浙ICP备14024251-1号</a><span></span>杭州顺游网络科技有限公司 版权所有<span></span></div>
        </div>
    </div>
</div>
<div style="display: none">
    <script src="https://s23.cnzz.com/z_stat.php?id=1252898618&web_id=1252898618" language="JavaScript"></script>
</div>

<!--页脚 结束--> 
