<!--通用head 开始-->
<div class="top_out">
    <div class="top_menu">
        <div class="top_menu_in">
            <div class="top_menu_in_l">
                <ul class="navlist">
                    <li><a href="/" target="_blank">游戏首页</a></li>

                    <li><a href="<{:U('User/index')}>" target="_blank">用户中心</a></li>
                    <li><a href="<{:C('CHARGE_URL')}>" target="_blank">充值中心</a></li>
                </ul>
            </div>
            <div class="top_menu_in_c"><a href="http://www.1688wan.com" target="_blank">1688玩手游网</a></div>
            <div class="top_menu_in_r"> <!--onMouseOver="tsmshow()" onMouseOut="tsmhide()"-->


                <!--             <div class="nav_cur"><a id="tsmt" href="http://www.1688wan.com/about/sitemap.html"
                                                     target="_blank">全站地图</a>

                             </div>
                             <div class="top_search">
                                 <div class="top_search_in">
                                     <input type="text" class="sinput" placeholder="搜索很简单" value="" name="keys" id="keys"
                                            onkeydown="javascript:if(event.keyCode==13) mySearch()"/>
                                     <input type="button" class="ssubmit" value="&nbsp;" onclick="mySearch()"/>
                                 </div>
                             </div>-->


                <if condition="session('cw_user') eq null">
                    <div class="reg_log" id="session_true" style="height: 30px; overflow: hidden;">
                       <!-- <div class="top_user_info">
                            <div class="tui_avatar"><a href="/memberCenter/"><img
                                    src="http://www.1688wan.com/imgs/default_head.png"></a></div>
                            <div class="tui_username" style="overflow:hidden; white-space:nowrap; overflow:ellipsis"><a
                                    href="/memberCenter/">lamba</a></div>
                        </div>
                        <div class="clear"></div>
                        <div id="toplogpane" class="topdownpane">
                            <ul>
                                <li>账号：<strong class="tlp_green">263402128</strong></li>
                                <li>G币：<span class="tlp_orange">30</span></li>
                                <li>等级：<span class="tlp_orange">菜鸟</span></li>
                            </ul>
                            <div class="clear"></div>
                        </div>-->
                    </div>
                    <else/>
                    <div id="session_false">
                        <div class="reg_logb"><a href="/login/" target="_blank">登录</a>|<a href="/register/"
                                                                                          target="_blank">注册</a>
                        </div>
                    </div>
                </if>


            </div>
        </div>
    </div>
</div>


<!--通用head 结束-->

<!--游戏头部 开始-->
<div class="game_top">
    <div class="game_top_logo"><a href="/game/" title="游戏中心"><img
            src="http://www.1688wan.com/images/images2015/yx_logo.png" title="1688玩游戏中心" alt="1688玩游戏中心"></a></div>
</div>
<!--游戏头部 结束-->
<div class="clear"></div>
<!--游戏导航 开始-->
<div class="game_nav">
    <div class="game_nav_inner">
        <ul>
            <li><a href="/game/" title="游戏分类">游戏分类</a></li>
            <li class="yx_cur"><a href="/game/all.html" title="游戏中心">游戏中心</a></li>
            <li><a href="/kaifu/" title="游戏中心">游戏开服</a></li>
        </ul>
    </div>
</div>
<!--游戏导航 结束-->
<div class="clear"></div>

